version: '3.3'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/db.sqlite3:/app/db.sqlite3

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend
